textarea {
  width: 100%;
  margin-top: 1rem;
  font-size: 1.2rem;
  box-sizing: border-box;
}

mat-form-field {
    margin-left: 0.5rem;
}

button {
    margin: 10px;
}

button:active {
    background-color: black;
    color: white;
}

h3 {
    margin-top: 2rem;
    margin-left: 0.5rem;
}